:root {
  --debug-color: #b2d9d000;
}

.bloks__title {
  margin: 50px 0 20px 0;

  text-align: center;
  text-transform: uppercase;
}

.bloks__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.bloks__list2 {
  margin: 0;
  padding: 0;

  list-style: none;
}

.bloks__item {
  transition: background-color 0.5s;
  margin-bottom: 10px;
  padding: 5px;

  text-align: center;
  border: 2px dashed var(--debug-color);
  border-radius: 10px;
  cursor: move;
  background-color: #dff2ef;

  transition: background-color 0.5s;
}

.header_item {
  cursor: default;
}

.bloks__itemMenu {
  transition: background-color 0.5s;
  margin-bottom: 10px;
  padding: 3px;
  /* text-align: center; */
  border: 2px dashed var(--debug-color);
  border-radius: 10px;
  cursor: move;
  /*background-color: #dff2ef;*/
  transition: background-color 0.5s;
}

.bloks__item:last-child  {
  margin-bottom: 0;
}

.bloks__itemMenu:last-child  {
  margin-bottom: 0;
}

.selected {
  opacity: 0.6;
}
